body{
  background: #0A0F17;
  color:white
}
.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.menus{
    display: flex;
    flex-flow: row;
    flex: 0 0 10%;
    margin: 5px;
    font-size: 24px;
    font-family: Arial;
}
.logo{
    display: flex;
    flex: auto;
    cursor: pointer;
}
.menus:hover{
    color: darkgray;
    cursor: pointer;
}