body{
    font-family: Arial, Helvetica, sans-serif;
}
.section-signup{
    display: flex;
    margin:10px 100px 0px 100px; 
    justify-content: center;
    align-items: center;
}
h1{
    justify-content: center ;
}
input{
    display: flex;
    align-items: center;
    background: #C4C4C4;
    margin:20px 100px 0px 100px;
    width: 300px; 
}
input[type='button']{
    background: #C4C4C4;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin:20px 100px 0px 100px;
}
.logo-center{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}

.sidebar{
    grid-column: 1/2;
    display: flex;
    flex-flow: column wrap;
    background: rgba(10, 15, 23);
    flex: 0 0 10%;
    padding: 0px 0px 200% 0px;
}
.left{
    display: flex;
    flex-flow: column ;
    padding: 30px;
    flex: 0 0 10%;
}
.left-article{
    display: flex;
    flex-flow: column wrap;
    flex: 0 2 30%;
    padding: 10px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.78);
    color: #6D6D6D;
}
.main-right{
    grid-column: 2/2;
    background: #6D6D6D;
   color: #6D6D6D;
}
.main-right h2{
    text-align: center;
    color: #C4C4C4;
    padding:10px;
}
.top-nav{
    display: flex;
    flex-flow: row ;
    padding: 10px;
    margin: 10px;
}
.top-nav-left{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    flex: 0 0 30%;
    background: rgba(255, 255, 255, 0.78);
}
.top-nav-right{
    display: flex;
    align-self: flex-end;
    padding: 10px;
    margin: 10px;
    flex: 0 0 30%;
    background: rgba(255, 255, 255, 0.78);
}
.top-nav-blog{
    display: flex;
    padding: 10px;
    margin: 10px;
    flex: 0 0 30%;
    background: rgba(255, 255, 255, 0.78);
}
table{
    margin-left: 0px;
    color: black;
    width: 97%;
  }
.section-table h3{
    color: #C4C4C4;
    text-align: center;
    padding-bottom: 10px;
}
#blog td, #blog th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#blog tr:nth-child(even){background-color: #f2f2f2;}
  
#blog tr:hover {background-color: #ddd;}
  
#blog th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background:  rgba(255, 255, 255, 0.78);
    color:black  ;
  }
.article-info{
    margin-top: 50px;
    color: #000;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
.article-info label{
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding-left: 100px;
  }
select{
       display: flex;
       width: 100px;
       flex-flow: column;
       justify-content: center;
       align-items: center;
       margin-left:100px ;
  }
.article-info-form{
    display: flex;
    flex-flow: column;
    align-items: center;
  }
textarea{
    display: flex;
    flex-flow: column;
    width: 60%;
    height: 50%;
    background: #C4C4C4;
    margin-left: 100px;
}
input[type="name"]{
    display: flex;
}
.update-user{
    padding-bottom: 100px;
}
.view{
    color: #000;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.author .author-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    align-content: center;
}
.comment{
    display: flex;
    justify-content: flex-end;
    background: #C4C4C4;
    padding: 10px;
    margin: 10px;
}
 .comment-field{
    background-color: #6D6D6D;
    display: flex;
}
.subscribe{
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    background: #395185;
    border-radius: 20px;
}
.subscribe-field{
    color: black;
    background: #f2f2f2;

}
.btn-submit {
    background: rgba(57, 81, 133, 0.40);
    color: white;
    font-size: large;
    width: 30%;
}
.subscribe h6{
    font-size: x-large;
    color: white;
    padding-left: 100px;
}
.view p {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.articles{
    display: flex;
    flex-flow: row wrap;
    color: #000;
    align-items: center;
    justify-content: center;
}
.articles-one{
    padding: 20px;
    display: flex;
    width: 60%;
    flex-flow: column wrap;
    justify-content: center;
}
.articles-one small{
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 60%;
}
.content h5{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.content input[type="submit"]{
    background: white;
    border-color: #395185;
    padding-left: 100px;
}
.comments{
    border: #000;
    border-width: 5px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background: #f2f2f2;
}
.comments p{
    padding: 10px;
    margin: 10px;
}
.logout{
    display: none;
}