*{
    margin: 0;
    padding: 0;
   }
   body{
     color:white;
     font-family: Arial;
   }
   .section-about{
       background: rgba(10, 15, 23, 0.91);
   }
   h1{
       text-align: center;
       display: block !important;
       padding: 10px;
       margin: 0px 10px;
   }
   .layout{
       padding: 10px 100px 10px 100px; 
   }
   img{
      max-width: 100%;
   }
   
   .menu{
       display: flex;
       flex-flow: row wrap;
       justify-content: flex-end;
       background: rgba(10, 15, 23, 0.91);
   }
   .menus{
       display: flex;
       flex-flow: row;
       padding-right: 10px;
       flex: 0 0 10%;
       font-size: 16px;
       
   }
   .logo{
       display: flex;
       flex: auto;
       cursor: pointer;
   }
   .menus:hover{
       color: darkgray;
       cursor: pointer;
   }
   .section-home {
       background: rgba(10, 15, 23, 0.91);
       display: grid;
       grid-template-columns: 1fr 3fr;
       grid-template-rows: 341px 341px 124px;
       grid-gap: 20px 30px;
       
       font-size: 30px;
   }
   .presentation{
       padding-top: 122px;
       grid-row: 1/2;
       grid-column: 1/2;
       padding-right: 0px;
   }
   .describe{
      
       grid-row: 2/3;
       grid-column: 1/2;
       padding-right: 0px;
   
   }
   .profile{
       grid-row: 1/2;
       grid-column: 2/3;
       padding-left: 122px;
   }
   .work{
       background-image: url('../img/testalize-me-SVmaaACzcJ8-unsplash.jpg');
      grid-row: 3/3;
      grid-column: 1/3;
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
   }
   .text{
       display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0.69) 100%);
   margin-top: 62px;
   }
   .about{
       display: grid;
   grid-template-columns :1fr 1fr ;
   grid-template-rows: 1fr;
   padding: 70px 10px 20px 10px ;
   
   }
   .info{
       grid-column: 1/2;
    font-size: 20px;
   }
   .skills{
       grid-column: 2/2;
    display: flex;
    padding-left: 40px;
    flex-flow: column wrap;
   }
   .skill{
   display: flex;
   flex-flow: column ;
   padding-top: 10px;
   font-size: 20px;
   }
   .section-services{
       display: flex;
       flex-flow: row wrap;
       background-image: url('../img/xps-2L-0vnCnzcU-unsplash.jpg');
      justify-content: center;
      margin: 0px;
   }
   .serive-box{
   background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
   linear-gradient(180deg, #898477 0%, rgba(0, 41, 255, 0.2) 100%);
   padding: 100px;
   margin: 20px;
   align-items: center;
   }
   .section-work{
       background: rgba(10, 15, 23, 0.91);
   }
   .sample{  
       display: flex;
       flex-flow: row wrap;
       justify-content: center;
   }
   .samples{
   display: flex;
   align-items: center;
   flex: 0 0 30%;
   margin:  20px;
   }
   #text{
       color: #000;
       text-align: center;
       font-size: 30px;
   }
   .section-contact{
       margin: 0%;
       background: rgba(112, 109, 109, 0.12);
   }
   .grid-3{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       text-align: center;
       padding: 20px;
   }
   
   .contact-address{
       display: grid;
       grid-template-rows: 100px 100px 100px;
   }
   
   .location{
       display: grid;
       grid-template-columns: 200px 200px;
   }
   .me{
       display: flex;
       color: #000;
       flex-flow: row ;
       
   }
   .address-text{
       display: flex;
       /* justify-content: center; */
       align-items: center;
       word-spacing: 10px;
   }
   .svg{
       display: flex;
       padding: 10px; 
       justify-content: flex-end;
   }
   
   .contract-social{
       display: flex;
       flex-flow: column ;
       align-items: center;    
   }
   .social{
       display: flex;
       justify-content: center;
       margin: 0px 0px 15px;
       padding-left: 0px;
   }
   .social img {
       width: 50px;
       margin: 10px;
       padding: 10px;
   }
   footer{
       display: flex;
       background: rgba(10, 15, 23, 0.91);
       justify-content: center;
   }
   .contact-form{
       display: flex;
       padding: 10px;
       margin: 10px;
   }
   footer p{
       margin: 10px;
       padding: 10px;
   }
   form{
       display: flex;
       flex-flow: row wrap;
   }
   textarea{
       display: flex;
       padding: 10px;
       margin: 10px;
       padding-bottom: 30px;
       width: 100%;
       /* background: rgba(255,255,255,0.78); */
       color: rgba(109,109,109,1);
   }
   input{
       display: flex;
       /* flex: auto; */
       width: 100%;
       padding: 10px;
       padding-right: 30px;
       margin: 10px;
       align-items: center;
       /* background: rgba(255,255,255); */
       border-width: 1px;
       /* color: rgba(109,109,109,1); */
   
   }
   input[type=button]{
        background: rgba(255,255,255,0.78);
        color: rgba(109,109,109,1);
       margin: 0px 100px;
       padding: 10px;
   }

   /* media queries */
   @media only screen and (max-width:529px){
       .sample{
           flex-direction: column   ;
       }
       .samples{
           flex-direction: column;
       }
   }